.btn-mode {
  display: none;
}
.example .btn-mode {
  position: relative !important;

  background: var(--dm-color-primary) !important;
  color: var(--dm-color-secondary) !important;
  padding: 1rem !important;
  border-radius: 50px !important;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.2), 0 0 0 5px rgba(0, 0, 0, 0.1) !important;
  border: 0 !important;
  display: flex !important;
}
